.wrapper-home {

    width: 90%;
    margin: 0 auto;

    @include laptop {

        width: 45%;

    }

    @include l_laptop {

        width: 30%;
        
    }

}

.featured-books, .recent-books, .explanation {

    &__header {

        text-align: center;
        margin-top: 1rem;
    }

    p {

        font-size: 1.2rem;
        
    }

}

@include laptop {

    .featured-books, .recent-books {
        
        margin: 0 auto;
        width: 75%;

    }
}

@include l_laptop {

    .featured-books, .recent-books {
        
        margin: 0 auto;
        width: 40%;

    }

}

.home-btn {

    display: block;
    width: 125px;
    margin: 3rem auto 5rem auto;
    padding: 0.75rem 1rem
    
}