{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    About
{% endblock %}

{% block page_header %}
{% endblock %}

{% block hero %}
  <div class="hero hero__generic">
    <h1 class="hero__generic--row1">About us</h1>
    <i class="fas fa-info-circle fa-5x hero__generic--row2"></i>
    <h4 class="hero__generic--row3">This is my story</h4>
  </div>
{% endblock %}

{% block content %}
  <main>
    <div class="generic-wrapper">
        <div class="about">
            <H4>The story</H4>
            <p>This is the fourth and final milestone project of the fullstack software development course of Code Institute. It is the second 'full stack' project combining a database, a backend and a frontend. The aim is to demonstrate a full understanding of Python, Django, a SQL-based database and the usual html/css/javascript.</p>
            <p>This project is for educational purposes only. All book images and descriptive content are from their respective owners, usually the publisher of the book.</p>
        </div>
    </div>
  </main>
{% endblock %}