{% extends "base.html" %}
{% load static %}

{% block page_header %}
    
{% endblock %}

<!-- show landing page if user is not logged in-->
{% if not 'username' in session %} 
  {% include 'landing-page.html' %}

<!-- show home page if user is logged in-->
{% else %}

  {% block hero %}
    <div class="hero">
      <h1>Find your next favorite book.</h1>
      <div class="hero__helper"><i class="fas fa-thumbs-up fa-5x hero__icon"></i></div>
    </div>
    
  {% endblock %}

  {% block content %}
    <main>
      {% include 'includes/sort-bar.html' %}
      <!-- all ages, boys and girls: top 25 based on reviews. -->
      <div class="wrapper">
        <section id="top-5">
            <h2 class="section-title">Thuisblijf Top-10</h2>
            <div class="top-lists">
                <div class="top-ten-card top-ten-card-blue">
                    <div class="top-ten-card__circle-blue">
                    <div class="top-ten-card__circle-blue-text">6+</div>
                    </div>
                    <p class="top-ten-card__content">De top-10 voor jongens en meiden vanaf 6 jaar.</p>
                    <a class="btn top-ten-card-btn" href="top-10-vanaf-6-jaar.html">kijk</a>
                </div>
                <div class="top-ten-card top-ten-card-green">
                    <div class="top-ten-card__circle-green">
                    <div class="top-ten-card__circle-green-text">?</div>
                    </div>
                    <p class="top-ten-card__content">Binnenkort: een top-10 voor meiden!</p>
                    <div class="btn top-ten-card-btn btn-inactive" href="#">binnenkort...</div>
                </div>
                <div class="top-ten-card top-ten-card-purple">
                    <div class="top-ten-card__circle-purple">
                    <div class="top-ten-card__circle-purple-text">?</div>
                    </div>
                    <p class="top-ten-card__content">Binnenkort: een top-10 voor jongens!</p>
                    <div class="btn top-ten-card-btn btn-inactive" href="#">binnenkort...</div>
                </div>
            </div>
        </section>
    </div>
    </main>
  {% endblock %}

{% endif %}