{% extends "base.html" %}
{% load static %}

{% block extra_title %}

{% endblock %}

{% block page_header %}
    
{% endblock %}

{% block hero %}

    <div class="hero">

        {% if user_logged_in %}

            {% if profile.profile_complete == "lvl-3" %}

                <h1>Check your recommendations</h1>
                <i class="fas fa-thumbs-up fa-5x hero__icon"></i>
                <a class="btn hero__btn" href="{% url 'book_finder_user_4' %}">start</a>
            
            {% else %}

                <h1>Find your next favorite book.</h1>
                <i class="fas fa-thumbs-up fa-5x hero__icon"></i>
                <a class="btn hero__btn" href="{% url 'book_finder_user' %}">start</a>
            
            {% endif %}

        {% else %}

            <h1>Find your next favorite book.</h1>
            <i class="fas fa-thumbs-up fa-5x hero__icon"></i>
            <a class="btn hero__btn" href="{% url 'book_finder' %}">start</a>

        {% endif %}

    </div>

{% endblock %}

{% block content %}

  <main>

        <section class="featured-books">

            <h2 class="featured-books__header">Featured books</h2>

            <div class="scrolling-wrapper-flexbox">

                {% for book in featured_books %}

                    {% if forloop.counter < 5 %}

                        {% include 'includes/book-card.html' %}

                    {% endif %}

                {% endfor %}

            </div>

        </section>
        
        <section class="recent-books">

            <h2 class="recent-books__header">Recently added books</h2>

            <div class="scrolling-wrapper-flexbox">

                {% for book in recent_books %}

                    {% if forloop.counter < 9 %}

                        {% include 'includes/book-card.html' %}

                    {% endif %}

                {% endfor %}

            </div>
        
        </section>

   
        <div class="wrapper-home">

            <section class="explanation">

                <h2>How it works</h2>
                <p>Thousands of kids have have rated hundreds of books. Their rating is not only a matter of some stars. No, their ratings have extra details!</p>
                <p>Do you like rugby, play with Lego and are you 10 years old?</p>
                <p>Or do you play hockey and love to collect shells?</p>
                <p>There are always other kids like you and now you can find out what their favorite books are.</p>
                <p>The more you tell us about yourself, the better other kids can help you.</p>
                
                {% if user_logged_in %}

                  <a class="btn home-btn" href="{% url 'book_finder_user' %}">start</a>

                {% else %}

                  <a class="btn home-btn" href="{% url 'book_finder' %}">join</a>
                  
                {% endif %}
        
              </section>

        </div>


  </main>
{% endblock %}