{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Bookfinder
{% endblock %}

{% block page_header %}
{% endblock %}


{% block hero %}
  <div class="hero__bookfinder">
      <h4 class="hero__bookfinder--row1">{{ profile.first_name }}, </h4>
      <i class="fas fa-book-open fa-5x hero__bookfinder--row2"></i>
      <h4 class="hero__bookfinder--row3">here are the books recommended by {% if profile.gender == 'BOY' %}boys{% elif profile.gender == 'GIRL' %}girls{% elif profile.gender == 'UNKNOWN' %}kids{% endif %} of your age ({{ age_rating_years }} years).</h4>
  </div>
{% endblock %}

{% block content %}
    <div class="generic-wrapper">

        <div class="bookfinder">

            <main>

                <p>These are the books that fit you because of your age, your gender, your hobbies and sports. Also, books you like and dislike are removed from the list.</p>
                <p>We find books based on your hobbies and sports. If you want to adjust these go <a href="{% url 'book_finder_user_5' %}">here</a>.</p>
                <hr>
    
                <div class="bookfinder__books-results">
    
                    {% for book in books %}
        
                        {% include 'includes/book-result.html' %}

                        <div class="col-12">
                            <hr>
                        </div>

                    {% endfor %}
                </div>
                
            </main>

        </div>
        
    </div>
{% endblock %}
