{% extends "base.html" %}
{% load static %}
{% block hero %}
<div class="hero profile">
    <h3>
        {% if profile.first_name %}
            Hello {{ profile.first_name }}!
        {% else %}
            Hello anonymous!
        {% endif %}
    </h3>
    <p>This is your personal profile page. In here you can tell as much (or as little) about yourself as you want.</p>
    <p>The more you tell, the better the recommendations for a book will be!</p>
    {% if profile.profile_complete == "lvl-0" %}
        Your profile is at<span class="emphasis-orange">0%</span>
    {% elif profile.profile_complete == "lvl-1" %}
        Your profile at <span class="emphasis-orange">50%</span> Way to go!
    {% elif profile.profile_complete == "lvl-2" %}
        Your profile at <span class="emphasis-orange">75%</span> Almost there!
    {% elif profile.profile_complete == "lvl-3" %}
        Your profile is <span class="emphasis-orange">100%</span> complete! You are the best!
    {% endif %}
</div>
{% endblock %}

{% block content %}
    <ul class="nav profile__pills scrolling-wrapper-flexbox"> 
        <!-- <div class="scrolling-wrapper-flexbox"> -->
            <li><a class="active" data-toggle="pill" href="#menu1">Account</a></li>
            <li><a data-toggle="pill" href="#menu2">Hobby & Sport</a></li>
            <li><a data-toggle="pill" href="#menu3">Ratings</a></li>
            <li><a data-toggle="pill" href="#menu4">Favorites</a></li>
        <!-- </div> -->
    </ul>
    
    <div class="container">
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in show active">
                <section class="profile__account card-body">
                    <div class="profile__title">
                        <h3>Account</h3>
                        <a data-toggle="modal" data-target="#account"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <div class="profile__account-grid">
                        <div class="profile__account-grid-row">
                            <div class="account-grid-row--key">Username: </div>
                            <div class="account-grid-row--value">{{ profile }}</div>
                        </div>
                        <div class="profile__account-grid-row">
                            <div class="account-grid-row--key">Email: </div>
                            <div class="account-grid-row--value">{{ user.email }}</div>
                        </div>
                    </div>
                </section>
                <section class="profile__basic card-body">
                    <div class="profile__title">
                        <h3>Personal</h3>
                        <a href="{% url 'edit_personal' %}"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    {% if profile.first_name %}
                        <div class="profile__basic-grid">
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">First name: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.first_name }}</div>
                            </div>
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">Last name: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.last_name }}</div>
                            </div>
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">Date of birth: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.date_of_birth|date:'Y-m-d' }}</div>
                            </div>
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">Gender: </div>
                                <div class="profile__basic-grid-row--value">{% if profile.gender == 'BOY' %}boy{% elif profile.gender == 'GIRL' %}girl{% elif profile.gender == 'UNKNOWN' %}prefer not to say{% endif %}</div>
                            </div>
                        </div>
                    {% else %}
                        Tell us your age and if you are a boy or a girl. Then you get better recommendations!
                        <a href="{% url 'edit_personal' %}" class="btn">start</a>
                    {% endif %}
                </section>
            </div>

            <!-- Hobby, sport, instrument, etc. -->
            <div id="menu2" class="tab-pane fade">
                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Hobbies</h3>
                        {% if user_hobby %}
                            <a href="{% url 'edit_hobby' %}"><i class="fas profile__icon--edit fa-edit"></i></a>
                        {% endif %}
                    </div>
                    <ul>
                        {% if user_hobby %}
                            {% for hobby in user_hobby %}
                            <li class="profile__hobbysport--tag">{{ hobby }}</li>
                            {% endfor %}
                        {% else %}
                        No hobbies provided yet. Go <a href="{% url 'edit_hobby' %}">here</a> to complete.
                        {% endif %}
                    </ul>
                </section>

                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Sports</h3>
                        {% if user_sport %}
                            <a href="{% url 'edit_sport' %}"><i class="fas profile__icon--edit fa-edit"></i></a>
                        {% endif %}
                    </div>
                    <ul>
                        {% if user_sport %}
                            {% for sport in user_sport %}
                                <li class="profile__hobbysport--tag">{{ sport }}</li>
                            {% endfor %}
                        {% else %}
                        No sports provided yet. Go <a href="{% url 'edit_sport' %}">here</a> to complete.
                        {% endif %}
                    </ul>
                </section>
            </div>
            <div id="menu3" class="tab-pane fade">
                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Ratings</h3>
                        <a href="#"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <p>All your rated books are here:</p>
                    <h5>Books that are great!</h5>
                    <div class="scrolling-wrapper-flexbox">
                        {% for book in ratings_high %}
                          {% include 'includes/book-card-hs.html' %}
                        {% endfor %}
                    </div>

                    <h5>Books that are ok-ish</h5>
                    <div class="scrolling-wrapper-flexbox">
                        {% for book in ratings_ok %}
                          {% include 'includes/book-card-hs.html' %}
                        {% endfor %}
                    </div>

                    <h5>Books that are meh</h5>
                    <div class="scrolling-wrapper-flexbox">
                        {% for book in ratings_low %}
                          {% include 'includes/book-card-hs.html' %}
                        {% endfor %}
                    </div>
                </section>  
            </div>
            <div id="menu4" class="tab-pane fade">
                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Favorites</h3>
                        <a href="#"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <p>All your favorites are here:</p>
                    <div class="scrolling-wrapper-flexbox">
                        {% for book in favorites %}
                          {% include 'includes/book-card-hs.html' %}
                        {% endfor %}
                    </div>
                    
                    
                </section>  
            </div>
        </div>
    </div>

    {% include 'includes/profile-modal.html' %}    


{% endblock %}

{% block postloadjs %}

{% endblock %} 

