{% extends "base.html" %}
{% load static %}
{% block hero %}
<div class="hero profile">
    <h3>
        {% if profile.first_name %}
            Hello {{ profile.first_name }}!
        {% else %}
            Hello anonymous!
        {% endif %}
    </h3>
    <p>This is your personal profile page. In here you can tell as much (or as little) about yourself as you want.</p>
    <p>The more you tell, the better the recommendations for a book will be!</p>
</div>
{% endblock %}

{% block content %}
    <ul class="nav profile__pills">
        <li><a class="active" data-toggle="pill" href="#menu1">Account</a></li>
        <li><a data-toggle="pill" href="#menu2">Hobby & Sport</a></li>
        <li><a data-toggle="pill" href="#menu3">Other</a></li>
    </ul>
    <div class="container">
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in show active">
                <section class="profile__account card-body">
                    <div class="profile__title">
                        <h3>Account</h3>
                        <a data-toggle="modal" data-target="#account"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <div class="profile__account-grid">
                        <div class="profile__account-grid-row">
                            <div class="account-grid-row--key">Username: </div>
                            <div class="account-grid-row--value">{{ profile }}</div>
                        </div>
                        <div class="account-grid-row">
                            <div class="account-grid-row--key">Email: </div>
                            <div class="account-grid-row--value">{{ user.email_address }}</div>
                        </div>
                    </div>
                </section>
                <section class="profile__basic card-body">
                    <div class="profile__title">
                        <h3>Personal</h3>
                        <a data-toggle="modal" data-target="#personal"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    {% if profile.first_name %}
                        <div class="profile__basic-grid">
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">First name: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.first_name }}</div>
                            </div>
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">Last name: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.last_name }}</div>
                            </div>
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">Date of birth: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.date_of_birth }}</div>
                            </div>
                            <div class="profile__basic-grid-row">
                                <div class="profile__basic-grid-row--key">Gender: </div>
                                <div class="profile__basic-grid-row--value">{{ profile.gender }}</div>
                            </div>
                        </div>
                    {% else %}
                        button met tekst om profiel in te vullen
                    {% endif %}
                </section>
            </div>
            <div id="menu2" class="tab-pane fade">
                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Hobbies</h3>
                        <a data-toggle="modal" data-target="#hobby"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <ul>
                        {% if hobby %}
                            {% for hobby in hobby %}
                            <li>{{ hobby }}</li>
                            {% endfor %}
                        {% else %}
                        No hobbies provided yet. Go here to complete.
                        {% endif %}
                    </ul>
                </section>
                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Sports</h3>
                        <a data-toggle="modal" data-target="#sport"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <ul>
                        {% if sport %}
                            {% for sport in sport %}
                                <li>{{ sport }}</li>
                            {% endfor %}
                        {% else %}
                            No sports provided yet. Go here to complete.
                        {% endif %}
                    </ul>
                </section>
            </div>
            <div id="menu3" class="tab-pane fade">
                <section class="profile__hobbysport card-body">
                    <div class="profile__title">
                        <h3>Other</h3>
                        <a href="#"><i class="fas profile__icon--edit fa-edit"></i></a>
                    </div>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </section>  
            </div>
        </div>
    </div>

{% include 'includes/profile-modal.html' %}    <!-- Modal -->

{% endblock %}

{% block postloadjs %}

{% endblock %} 

