{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    Donate
{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/stripe.css' %}">

{% endblock %}

{% block hero %}

<div class="hero hero__donations">

    <h1 class="hero__donations--row1">A little help</h1>
    <i class="fas fa-gift fa-5x hero__donations--row2"></i>
    <h4 class="hero__donations--row3">goes a long way!</h4>

</div>

{% endblock %}

{% block content %}

<div class="generic-wrapper">

    <main>

        <div class="donations">

            <p>Do you like this site? Does it help your kids to find fun books to read? Then consider making a small donation. With your support we can make this site even better!</p>
            <p>You can select a one-time donation or a monthly support donation.</p>
            <p>You will be redirected to a secure environment, hosted by Stripe.</p>

        </div>

        <div class="donations donations__type scrolling-wrapper-flexbox">

            <div class="donations__type--option donations__type--option--blue">

                <h4>Let me buy you a coffee!</h4>
                <i class="fas fa-5x fa-mug-hot donations__type--option--row2"></i>
                <p>3 euro</p>
                <button class="btn donations__type--option--btn" id="checkout-button-price_1HQ9OgFApEuWmDdSIun3qPzm" role="link" type="button">Checkout</button>

            </div>

            <div class="donations__type--option donations__type--option--blue">

                <h4>Let me buy you a lunch!</h4>
                <i class="fas fa-5x fa-hamburger donations__type--option--row2"></i>
                <p>10 euro</p>
                <button class="btn donations__type--option--btn" id="checkout-button-price_1HQ9PJFApEuWmDdS9ngMsse0" role="link" type="button">Checkout</button>

            </div>

            <div class="donations__type--option donations__type--option--teal">

                <h4>Best Friends Forever!</h4>
                <i class="fas fa-5x fa-hands-helping donations__type--option--row2"></i>

                <div class="donations__type--option--row3">

                    <p>2.50 euro</p>
                    <small>per month</small>

                </div>

                <button class="btn donations__type--option--btn" id="checkout-button-price_1HQA0OFApEuWmDdSNkDKmpmY" role="link" type="button">Checkout</button>

            </div>

            <div class="donations__type--option donations__type--option--teal">

                <h4>Bestest Friends Forever</h4>
                <i class="fas fa-5x fa-heart donations__type--option--row2"></i>

                <div class="donations__type--option--row3">

                    <p>5 euro</p>
                    <small>per month</small>

                </div>

                <button class="btn donations__type--option--btn" id="checkout-button-price_1HQ9RXFApEuWmDdSrg3dcS0J" role="link" type="button">Checkout</button>

            </div>

        </div>
   
        <div id="error-message"></div>

    </main>
    
</div>

{% endblock %}

{% block postloadjs %}

    <script type="module" src="{% static 'scripts/modules/Stripe.js' %}"></script>

{% endblock %}