{% extends "base.html" %}

{% load static %}

{% block extra_title %}
    Donate
{% endblock %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/stripe.css' %}">

{% endblock %}

{% block page_header %}
{% endblock %}


{% block hero %}

<div class="hero hero__donations">

    <h1 class="hero__donations--row1">A little help</h1>
    <i class="fas fa-gift fa-5x hero__donations--row2"></i>
    <h4 class="hero__donations--row3">goes a long way!</h4>

</div>

{% endblock %}

{% block content %}

<div class="generic-wrapper">

    <main>

        <div class="donations">
            <p>Do you like this site? Does it help your kids to find fun books to read? Then consider making a small donation. With your support we can make this site even better!</p>
        </div>

        <form class="donations__grid" action="{% url 'charge' %}" method="post" id="payment-form">

                {% csrf_token %}

                <div class="donations__grid--col1 donations__grid--row1">
                    Choose amount
                </div>

                <div class="donations__grid--col3 donations__grid--row1">

                    <select name="amount" id="amount" required>

                        <option selected value="5">5 euro</option>
                        <option value="10">10 euro</option>
                        <option value="25">25 euro</option>

                    </select>
                </div>

            
                <div class="donations__grid--col1 donations__grid--row2">
                    Your name
                </div>

                <div class="donations__grid--row3">
                    <input type="text" name="name" required>                    
                </div>

                <div class="donations__grid--col1 donations__grid--row4">
                    Your email
                </div>

                <div class="donations__grid--row5">
                    <input type="email" name="email" required>
                </div>

                <div class="donations__grid--col1 donations__grid--row6">
                    Message (optional)
                </div>

                <div class="donations__grid--row7">
                    <input type="text" name="description" placeholder="keep up the good work!">
                </div>
                
                <div class="form-row donations__grid--row8">

                    <div id="card-element" style="width:30em">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
            
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert">
                        <span style="width: 30em; height: 2em; letter-spacing: 0em" id="card-errors" role="alert"></span>
                    </div>
            
                </div>
            
                <div class="form-row donations__grid--row9">
                    <button class="btn">Submit Payment</button>
                </div>
            
            </form>

    </main>
    
</div>


{% endblock %}

{% block postloadjs %}

    <script type="module" src="{% static 'scripts/modules/Stripe.js' %}"></script>
    
{% endblock %}  