$mainBlue: #2a97ce;
$mainOrange: #ff8d1a;
$mainPink: #e166c4;
$mainGrey: #929292;
$mainYellow: #fec944;
$mainPurple: #7d51a1;
$mainTurq: #00d4f7;
$mainTeal: #25b8c0;
$mainHero: #52c5fb;
$mainGreen: #62B14C;
$darkGreen: #006830;
$lightGrey: #F4F4F4;