html, body {
    width: 100%;
}

.generic-wrapper {

    width: 95%;
    margin: 2rem auto;

    @include laptop {

        width: 60%;

        &--contact {

            width: 40%;

        }
    }

    @include xl_laptop {

        width: 30%;

        &--contact {

            width: 30%;

        }
    }

    &--no-hero {
        
        margin-top: 5rem;

    }
}

.allauth-wrapper {

    width: 95%;
    padding: 1rem;
    margin: 2rem auto;

    @include tablet {

        width: 600px;

        form {

            width: 320px;
            margin: 0 auto;

        }

    }

    @include laptop {

        width: 550px;

    }

    h1, h4 {

        color: $mainPurple;
        font-weight: 600;
        margin-bottom: 1rem;;
    }

    p {
        font-size: 1.2rem;
    }

    .btn {

        display: block;
        margin: 3rem auto 0 auto;
        width: 125px;

        &--wide {

            width: 200px;

        }
    }

}

.error-page {

    width: 80%;
    margin: 0 auto;

    @include tablet {

        width: 400px;
    }
    
    h1, h4 {

        color: $mainPurple;
        font-weight: 600;
        margin-bottom: 1rem;;
    }

    p {
        font-size: 1.2rem;
    }

    .btn {

        display: block;
        margin: 3rem auto 0 auto;
        width: 125px;
    }

}

.btnize {

    background-color: inherit;
    border: none;

}

.btn-link {
    border: none;
    background-color: initial;

    &--red {
        color: red;
    }

}

.iconify {

    background: none;
    border: none;
}

.btn {

    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    height: 3rem;
    background-color: $mainOrange;

}

.tag {
    
    border: solid 1px $mainTeal;
    border-radius: 4px;
    display: inline-block;
    padding: 0 0.5rem;

    &--category {

        color: #fff;
        background-color: $mainTeal;

        &--link {

            &:hover {
                
                color: $mainTeal;
                background-color: #fff;
            
            }
        }
    }

    &--tag {
        
        color: $mainTeal;
        background-color: white;
        margin-bottom: 0.5rem;

        &--link {

            &:hover {

                color:  white;
                background-color: $mainTeal;
                border: solid 1px  white;

            }
        } 
    }
    
    
}

.text-divider {

    font-size: 1.3rem;
    font-weight: 600;
    color: $mainPink;
    text-transform: uppercase;
    margin: 1rem auto;

}

.strip-margin {
    margin: 0;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    &__card {
      display: inline-block;
    }
  }

.emphasis1 {
    color: $mainPink;
    font-weight: 700;
}

.emphasis-orange {
    color: $mainYellow;
    font-weight: 700;
    font-size: 2rem;
}

.align-center {

    text-align: center;
    display: block;
}