.message-container {

    position: fixed;
    top: 88px;
    right: 15px;
    z-index: 9999;

}

.toast-header {

    color: white;

    &--success {

        background-color: $mainGreen;

    }

    &--warning {

        background-color: $mainYellow;

    }

    &--error {

        background-color: $mainOrange;

    }

    &--info {

        background-color: $mainPurple;

    }

    button.close{

        color: white;
        text-shadow: none;
        opacity: 1;
        
    }
    
}
  
.toast-body {

    background-color: $lightGrey;
    
}

.custom-toast {

    border-radius: 4px;
}