html {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Taken from: https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing */
.push-footer-body {

    min-height: 100vh; 
    display: flex; 
    flex-direction: column;

}

.push-footer {

    flex-grow:1;
}

.allauth-form-inner-content {
  margin-top: 5rem;
}



