@charset "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
html, body {
  width: 100%;
}

.generic-wrapper {
  width: 95%;
  margin: 2rem auto;
}
@media (min-width: 992px) {
  .generic-wrapper {
    width: 60%;
  }
  .generic-wrapper--contact {
    width: 40%;
  }
}
@media (min-width: 2400px) {
  .generic-wrapper {
    width: 30%;
  }
  .generic-wrapper--contact {
    width: 30%;
  }
}
.generic-wrapper--no-hero {
  margin-top: 5rem;
}

.allauth-wrapper {
  width: 95%;
  padding: 1rem;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  .allauth-wrapper {
    width: 600px;
  }
  .allauth-wrapper form {
    width: 320px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .allauth-wrapper {
    width: 550px;
  }
}
.allauth-wrapper h1, .allauth-wrapper h4 {
  color: #7d51a1;
  font-weight: 600;
  margin-bottom: 1rem;
}
.allauth-wrapper p {
  font-size: 1.2rem;
}
.allauth-wrapper .btn {
  display: block;
  margin: 3rem auto 0 auto;
  width: 125px;
}
.allauth-wrapper .btn--wide {
  width: 200px;
}

.error-page {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .error-page {
    width: 400px;
  }
}
.error-page h1, .error-page h4 {
  color: #7d51a1;
  font-weight: 600;
  margin-bottom: 1rem;
}
.error-page p {
  font-size: 1.2rem;
}
.error-page .btn {
  display: block;
  margin: 3rem auto 0 auto;
  width: 125px;
}

.btnize {
  background-color: inherit;
  border: none;
}

.btn-link {
  border: none;
  background-color: initial;
}
.btn-link--red {
  color: red;
}

.iconify {
  background: none;
  border: none;
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  height: 3rem;
  background-color: #ff8d1a;
}

.tag {
  border: solid 1px #25b8c0;
  border-radius: 4px;
  display: inline-block;
  padding: 0 0.5rem;
}
.tag--category {
  color: #fff;
  background-color: #25b8c0;
}
.tag--category--link:hover {
  color: #25b8c0;
  background-color: #fff;
}
.tag--tag {
  color: #25b8c0;
  background-color: white;
  margin-bottom: 0.5rem;
}
.tag--tag--link:hover {
  color: white;
  background-color: #25b8c0;
  border: solid 1px white;
}

.text-divider {
  font-size: 1.3rem;
  font-weight: 600;
  color: #e166c4;
  text-transform: uppercase;
  margin: 1rem auto;
}

.strip-margin {
  margin: 0;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper__card {
  display: inline-block;
}

.emphasis1 {
  color: #e166c4;
  font-weight: 700;
}

.emphasis-orange {
  color: #fec944;
  font-weight: 700;
  font-size: 2rem;
}

.align-center {
  text-align: center;
  display: block;
}

.message-container {
  position: fixed;
  top: 88;
  right: 15;
  z-index: 9999;
}

.toast-header {
  color: white;
}
.toast-header--success {
  background-color: #62B14C;
}
.toast-header--warning {
  background-color: #fec944;
}
.toast-header--error {
  background-color: #ff8d1a;
}
.toast-header--info {
  background-color: #7d51a1;
}
.toast-header button.close {
  color: white;
  text-shadow: none;
  opacity: 1;
}

.toast-body {
  background-color: #F4F4F4;
}

.custom-toast {
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.site-header {
  height: auto;
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  background-color: #7d51a1;
  width: 100%;
  z-index: 32;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  justify-items: center;
  align-items: center;
}
.site-header a:hover {
  color: #fec944;
}
@media (min-width: 992px) {
  .site-header {
    grid-template-columns: 1fr 330px 1fr;
    grid-template-rows: 1fr;
  }
}
.site-header__logo {
  grid-column: 2;
}
@media (min-width: 992px) {
  .site-header__logo {
    grid-row: 1;
  }
}
.site-header__logo--img {
  height: 55px;
}
.site-header__menu-icon {
  width: 20px;
  height: 19px;
  z-index: 3;
  grid-column: 1;
  display: grid;
  align-items: center;
}
@media (min-width: 992px) {
  .site-header__menu-icon {
    display: none;
  }
}
.site-header__menu-icon::before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: white;
  transform-origin: 0 0;
  transition: transform 0.3s ease-out;
}
.site-header__menu-icon__middle {
  width: 20px;
  height: 3px;
  background-color: white;
  transition: opacity 0.3s ease-out;
}
.site-header__menu-icon::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: white;
  transform-origin: 0 100%;
  transition: transform 0.3s ease-out;
}
.site-header__menu-icon--close-x::before {
  transform: rotate(45deg) scaleX(1);
}
.site-header__menu-icon--close-x .site-header__menu-icon__middle {
  opacity: 0;
}
.site-header__menu-icon--close-x::after {
  transform: rotate(-45deg) scaleX(1) translateY(1.1px) translateX(-0.5px);
}
.site-header__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7d51a1;
  overflow-y: hidden;
  transition: 0.5s;
  display: none;
  background-image: url("/media/waves.svg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.site-header__overlay--is-visible {
  display: block;
}
.site-header__overlay-content {
  position: relative;
  /* top: 25%; */
  width: 100%;
  text-align: center;
  /* margin-top: 30px; */
}
.site-header__overlay a {
  padding: 8px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}
.site-header__overlay a:hover, .site-header .overlay a:focus {
  color: #fec944;
}

.nav-desktop {
  display: none;
}
@media (min-width: 992px) {
  .nav-desktop {
    display: initial;
  }
}
.nav-desktop__left {
  grid-column: 1;
  align-self: flex-end;
}
.nav-desktop__right {
  grid-column: 3;
  align-self: flex-end;
}
.nav-desktop__right .dropdown {
  position: relative;
  display: inline-block;
}
.nav-desktop__right .dropdown-content {
  display: none;
  position: absolute;
  background-color: #7d51a1;
  min-width: 100px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.nav-desktop__right .dropdown-content li {
  display: block;
  margin-top: 0.5rem;
}
.nav-desktop__right .dropdown:hover .dropdown-content {
  display: block;
}
.nav-desktop ul li {
  list-style: none;
  display: inline-block;
}
.nav-desktop ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  padding: 0 0.3rem;
}

.search {
  display: grid;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;
  width: 90%;
  margin: 0 auto;
  background-image: url("/media/waves.svg");
}
@media (min-width: 768px) {
  .search {
    width: 400px;
  }
}
.search p.search__text {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.search__btn {
  background-color: #ff8d1a;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  width: 125px;
  justify-self: center;
  line-height: 2rem;
}

.primary-nav ul {
  padding: 2rem 0;
}
.primary-nav ul li {
  list-style: none;
}
.primary-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}
.primary-nav__logged-in {
  margin-top: 3rem;
}

.site-footer {
  margin-top: 2rem;
  padding-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2rem;
  width: 100%;
}
.site-footer__social ul {
  text-align: center;
  padding: 0;
  font-size: 1rem;
  padding-bottom: 2rem;
}
.site-footer a {
  color: #fff;
  text-decoration: none;
}
.site-footer a:hover {
  color: #ff8d1a;
}
.site-footer__nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
}
.site-footer li {
  display: inline;
  padding: 0 10px;
}
.site-footer__newsletter {
  text-align: center;
  font-size: 1rem;
}
.site-footer__copyright {
  text-align: center;
  font-size: 0.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.profile-modal__personal--edit {
  padding-top: 0rem;
}

.hero {
  width: 100%;
  margin-top: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  height: auto;
  background-image: url("/media/waves.svg");
  background-position: center;
  background-size: cover;
  background-color: #52c5fb;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 1fr 1fr 1fr;
}
.hero h1 {
  color: white;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}
.hero__icon {
  color: white;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
.hero__btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-row: 3;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  width: 100px;
  background-color: #ff8d1a;
}

.hero__profile {
  color: white;
  grid-template: none;
  background-color: #25b8c0;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}
.hero__profile--icon {
  text-align: center;
}

.hero__bookfinder,
.hero__donations,
.hero__allauth, .hero__error-page {
  width: 100%;
  margin-top: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  height: auto;
  background-image: url("/media/waves.svg");
  background-position: center;
  background-size: cover;
  background-color: #52c5fb;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: auto 1fr 1fr auto;
  color: white;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__bookfinder h1, .hero__bookfinder h4,
.hero__donations h1,
.hero__donations h4,
.hero__allauth h1,
.hero__allauth h4, .hero__error-page h1, .hero__error-page h4 {
    width: 650px;
  }
}
.hero__bookfinder--row1,
.hero__donations--row1,
.hero__allauth--row1, .hero__error-page--row1 {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}
.hero__bookfinder--row2,
.hero__donations--row2,
.hero__allauth--row2, .hero__error-page--row2 {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
.hero__bookfinder--row3,
.hero__donations--row3,
.hero__allauth--row3, .hero__error-page--row3 {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}
.hero__bookfinder--row4,
.hero__donations--row4,
.hero__allauth--row4, .hero__error-page--row4 {
  grid-column: 2;
  grid-row: 4;
  align-self: center;
  justify-self: center;
}

.hero__generic {
  color: white;
  background-color: #2a97ce;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}
.hero__generic--row1 {
  grid-column: 2;
  grid-row: 1;
}
.hero__generic--row2 {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
.hero__generic--row3 {
  grid-column: 2;
  grid-row: 3;
  align-self: center;
  justify-self: center;
}

.wrapper-home {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .wrapper-home {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .wrapper-home {
    width: 30%;
  }
}

.featured-books,
.recent-books,
.explanation {
  width: 90%;
  margin: 0 auto;
}
.featured-books__header,
.recent-books__header,
.explanation__header {
  text-align: center;
  margin-top: 1rem;
}
.featured-books p,
.recent-books p,
.explanation p {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .featured-books,
.recent-books {
    width: 870px;
  }
}
.home-btn {
  display: block;
  width: 125px;
  margin: 3rem auto 5rem auto;
  padding: 0.75rem 1rem;
}

.about {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .about {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .about {
    width: 60%;
  }
}
@media (min-width: 2400px) {
  .about {
    width: 70%;
  }
}

.contact {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .contact {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .contact {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .contact {
    width: 60%;
  }
}
@media (min-width: 2400px) {
  .contact {
    width: 50%;
  }
}

.book-details {
  margin-top: 5rem;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .book-details {
    width: 600px;
    margin: 0 auto;
  }
  .book-details ul {
    margin: 1rem auto;
    text-align: center;
  }
  .book-details__content {
    width: 400px;
    margin: 0 auto;
  }
}
.book-details h4 {
  color: #7d51a1;
}
.book-details__image-container {
  margin: 0 0 1rem 0;
  position: relative;
}
.book-details__pills {
  display: flex;
  padding-left: 0;
  margin: 1.5rem 0;
  list-style: none;
}
@media (min-width: 768px) {
  .book-details__pills {
    width: 520px;
    justify-content: space-evenly;
  }
}
.book-details__pills a {
  color: #7d51a1;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #7d51a1;
  border-radius: 4px;
  margin: 0 0.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
}
.book-details__pills a.active {
  color: white;
  background-color: #7d51a1;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.book-details .kidslike__genderage, .book-details .kidsdislike__genderage {
  display: grid;
  grid-template-columns: 30% 1fr;
}
.book-details .kidslike__genderage--right, .book-details .kidsdislike__genderage--right {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .book-details .kidslike__genderage--right, .book-details .kidsdislike__genderage--right {
    text-align: center;
  }
}
.book-details .kidslike__hobbysport, .book-details .kidsdislike__hobbysport {
  display: grid;
  grid-template-columns: 30% 1fr;
}
.book-details .kidslike__hobbysport--left, .book-details .kidsdislike__hobbysport--left {
  grid-column: 1;
}
.book-details .kidslike__hobbysport--right, .book-details .kidsdislike__hobbysport--right {
  padding-left: 1rem;
  grid-column: 2;
}
.book-details__section__description {
  font-size: 1.2rem;
  margin-bottom: 2.4rem;
}
.book-details__section__category, .book-details__section__tags {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 20% 1fr;
  column-gap: 0.5rem;
}
.book-details__section__category--col form, .book-details__section__tags--col form {
  display: inline-block;
}
.book-details__section__rating form {
  display: grid;
  grid-template-columns: 50% auto;
}
.book-details__section__rating form button {
  width: 115px;
}
.book-details__section__rating--stars {
  justify-self: start;
}
@media (min-width: 768px) {
  .book-details__section__rating--stars {
    justify-self: center;
  }
}
.book-details__section__rating p {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .book-details__section__rating--btn-1 {
    justify-self: center;
  }
}
.book-details__section__rating--btn {
  grid-column: 2;
  margin-top: -0.6rem;
}
@media (min-width: 768px) {
  .book-details__section__rating--btn {
    justify-self: center;
  }
}
@media (min-width: 768px) {
  .book-details__section__info {
    width: 50%;
    margin: 0 auto;
  }
}
.book-details__quick-facts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.book-details__favorites {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}
.book-details__icon--not-fav {
  color: #ddd;
}
.book-details__icon--fav {
  color: #fec944;
}

.img-fluid {
  height: 400px;
  object-fit: scale-down;
}

h2.book-details__title {
  padding: 1rem 0;
  text-align: center;
  align-self: center;
}

.books {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .books {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .books {
    grid-template-columns: 30% 1fr;
    column-gap: 2rem;
  }
}
@media (min-width: 1200px) {
  .books {
    grid-template-columns: 35% 1fr;
  }
}

@media (min-width: 992px) {
  .books-search {
    grid-row: 2;
    grid-column: 1;
  }
}
.books-search__row {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .books-search__row {
    grid-template-columns: 45% 55%;
  }
}
@media (min-width: 992px) {
  .books-search__row {
    grid-template-columns: 35% 65%;
    grid-column: 1/3;
    justify-self: center;
    display: initial;
  }
}
.books-search__row--btn {
  width: 115px;
  justify-self: center;
  align-self: center;
}
@media (min-width: 992px) {
  .books-search__row--btn {
    display: none;
  }
}
.books-search__row--results-counter {
  justify-self: center;
  align-self: center;
}
@media (min-width: 768px) {
  .books-search__row--results-counter {
    justify-self: start;
    margin-left: -1.5rem;
  }
}
@media (min-width: 992px) {
  .books-search__row--results-counter {
    padding-top: 1rem;
    margin-left: 0;
  }
}
.books-search__overlay {
  width: 90%;
  margin: 0 auto;
  display: none;
}
@media (min-width: 992px) {
  .books-search__overlay {
    display: none;
  }
}
.books-search__overlay--is-visible {
  display: block;
}
.books-search__overlay__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}
.books-search__overlay__footer--left {
  grid-column: 1;
  justify-self: start;
}
.books-search__overlay__footer--right {
  grid-column: 2;
  justify-self: end;
  align-self: flex-end;
}
@media (min-width: 992px) {
  .books-search__overlay {
    display: none;
  }
}
.books-search__side-bar {
  display: none;
}
@media (min-width: 992px) {
  .books-search__side-bar {
    width: 50%;
    display: initial;
  }
}

@media (min-width: 992px) {
  .books-results {
    width: 380px;
    margin: 0 auto;
    grid-row: 2;
    grid-column: 2;
  }
}

/* The rating stars are from https://stackoverflow.com/questions/58039721/issue-with-star-rating-css */
/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > [id^=star] {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating > .half:before {
  content: "";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > [id^=star]:checked ~ label {
  color: #fec944;
  /* show gold star when clicked */
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
  /* hover previous stars in list */
}

.rating > [id^=star]:checked + label:hover,
.rating > [id^=star]:checked ~ label:hover,
.rating > label:hover ~ [id^=star]:checked ~ label,
.rating > [id^=star]:checked ~ label:hover ~ label {
  color: #FFED85;
}

/****** Style Star Rating Widget END*****/
/* End rating stars */
.rating-static-table {
  display: grid;
  grid-template-columns: auto 1fr;
}
.rating-static-table__rating-1 {
  align-self: center;
}
.rating-static-table__rating-2 {
  align-self: center;
}

/* CSS for displaying average rating - no form, no hover. Based on ratings from above*/
.rating-static {
  border: none;
  float: left;
}

.rating-static > [id^=star-static] {
  display: none;
}

.rating-static > label:before {
  margin: 5px 5px 0px 5px;
  padding-top: 0.3rem;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating-static > .half:before {
  content: "";
  position: absolute;
}

.rating-static > label {
  color: #ddd;
  float: right;
}

.rating-static > [id^=star]:checked ~ label {
  color: #fec944;
}

/* CSS for hard-coded rating stars */
.hard-coded-stars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1;
}
.hard-coded-stars__star {
  display: grid;
}
.hard-coded-stars__star--half {
  grid-area: 1/1/2/2;
  color: #fec944;
}
.hard-coded-stars__star--full {
  grid-area: 1/1/2/2;
  color: #fec944;
}
.hard-coded-stars__star--empty {
  grid-area: 1/1/2/2;
  color: #ddd;
}

.book-result {
  max-height: 400px;
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 2rem;
}
@media (min-width: 768px) {
  .book-result {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .book-result {
    width: 95%;
  }
}
.book-result__image-area {
  position: relative;
}
.book-result__image-area--img {
  max-height: 280px;
  width: 115px;
}
.book-result__image-area--fav {
  position: absolute;
  right: -25;
  top: -15;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  display: grid;
}
@media (min-width: 768px) {
  .book-result__image-area--fav {
    right: -1;
  }
}
@media (min-width: 992px) {
  .book-result__image-area--fav {
    right: -25;
  }
}
.book-result__image-area--fav--icon {
  color: #ddd;
  justify-self: center;
  align-self: center;
}
.book-result__image-area--fav--icon--yellow {
  color: #fec944;
}
.book-result__content-area {
  display: grid;
  grid-template-rows: 1.3rem auto 1fr auto auto auto;
}
.book-result__content-area--row1 {
  grid-row: 1;
}
.book-result__content-area--row2 {
  grid-row: 2;
  font-weight: 600;
}
.book-result__content-area--row3 {
  grid-row: 3;
}
.book-result__content-area--row4 {
  align-self: center;
  padding: 0.3rem 0;
}
.book-result__content-area--row5 {
  padding: 0.3rem 0;
}
.book-result__content-area--row6 {
  justify-self: start;
  font-size: 75%;
}
.book-result__content-area--row7 {
  justify-self: start;
  font-size: 75%;
}
.book-result__content-area--row7--tag {
  margin: 0.3rem 0.3rem 0.3rem 0;
}
.book-result__content-area--row7--tag form {
  display: inline-block;
}
.book-result__content-area--row8 {
  grid-row: 8/10;
}
.book-result__content-area--row9 {
  grid-row: 9;
}
.book-result__content-area a:hover {
  color: #ff8d1a;
  background-color: #FFF;
  border: solid 1px #ff8d1a;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}

.scrolling-wrapper-flexbox {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

.book-card {
  max-height: 280px;
  width: 185px;
  margin: 0 auto;
  position: relative;
  margin-right: 1.5rem;
  flex: 0 0 auto;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.book-card__hs {
  margin-right: 1.5rem;
  flex: 0 0 auto;
}
.book-card__image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 280px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.16);
  margin: 0 auto;
}
.book-card__reveal {
  height: 280px;
  width: 185px;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
}
.book-card__reveal--row1 {
  grid-row: 1;
}
.book-card__reveal--row2 {
  grid-row: 2;
}
.book-card__reveal--row3 {
  grid-row: 3;
}
.book-card__reveal--row4 {
  grid-row: 4;
  font-size: 75%;
}
.book-card__reveal--row4--tag {
  margin: 0.3rem 0.3rem 0.3rem 0;
}
.book-card__reveal--row5 {
  grid-row: 5;
}
.book-card__reveal .btn {
  font-size: 0.8rem;
  height: initial;
  padding: 0.25rem 1rem;
}
.book-card__reveal a:hover {
  color: #ff8d1a;
  background-color: #FFF;
  border: solid 1px #ff8d1a;
}

.book-card:hover .book-card__image {
  opacity: 0.08;
}

.book-card:hover .book-card__reveal {
  opacity: 1;
}

.donations {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .donations {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .donations {
    width: 60%;
  }
}
.donations p {
  font-size: 1.2rem;
  padding: 0 1rem;
}
.donations h4 {
  padding: 1rem;
}
.donations__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 45% 5% 1fr;
  grid-template-rows: 3rem auto 3rem auto 3rem auto 3rem 4rem 5rem;
  font-size: 1.2rem;
  padding: 0 1rem;
  margin: 3rem auto;
}
@media (min-width: 768px) {
  .donations__grid {
    width: 335px;
  }
}
.donations__grid ::placeholder {
  color: #c3c3c3;
  font-size: 1rem;
  font-style: italic;
  padding: 0.5rem;
}
.donations__grid input {
  width: 100%;
  border-radius: 4px;
  border: solid 1px #c3c3c3;
}
.donations__grid--col-1 {
  grid-column: 1;
}
.donations__grid--col3 {
  grid-column: 3;
}
.donations__grid--row2 {
  grid-row: 2;
}
.donations__grid--row3 {
  grid-row: 3;
  grid-column: 1/4;
}
.donations__grid--row4 {
  grid-row: 4;
}
.donations__grid--row5 {
  grid-row: 5;
  grid-column: 1/4;
}
.donations__grid--row6 {
  grid-row: 6;
  grid-column: 1/4;
}
.donations__grid--row7 {
  grid-row: 7;
  grid-column: 1/4;
}
.donations__grid--row8 {
  grid-row: 8;
  grid-column: 1/4;
  align-self: center;
}
.donations__grid--row9 {
  grid-row: 9;
  grid-column: 1/4;
  justify-self: center;
  align-self: center;
}
.donations__success {
  text-align: center;
}

/* From: https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6 */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}

.scrolling-wrapper-flexbox {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
@media (min-width: 992px) {
  .scrolling-wrapper-flexbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.5rem;
    margin-left: 0.5rem;
  }
}

.scrolling-wrapper,
.scrolling-wrapper-flexbox {
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}
@media (min-width: 992px) {
  .scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: initial;
  }
}

.book-card-hs {
  max-height: 280px;
  width: 180px;
  margin: 0 auto;
  position: relative;
  margin-right: 1.5rem;
  flex: 0 0 auto;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.book-card-hs__image {
  height: 280px;
  border-radius: 4px;
}

.profile {
  padding: 0 1rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .profile {
    width: 585px;
  }
  .profile .tab-content {
    width: 585px;
  }
}
.profile__title {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  align-items: center;
}
@media (min-width: 768px) {
  .profile ul {
    margin: 1rem auto;
    text-align: center;
  }
}
.profile__pills {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .profile__pills {
    width: 620px;
    justify-content: space-evenly;
    margin: 1.5rem auto;
  }
}
@media (min-width: 1200px) {
  .profile__pills {
    width: 580px;
  }
}
.profile__pills a {
  color: #25b8c0;
  background-color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #25b8c0;
  border-radius: 4px;
  margin: 0 0.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
}
.profile__pills a.active {
  color: white;
  background-color: #25b8c0;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.profile__basic h3, .profile__account h3 {
  color: #25b8c0;
}
.profile__basic--btn, .profile__account--btn {
  width: 125px;
  margin: 2rem auto;
  display: block;
}
.profile__basic-grid, .profile__account-grid {
  display: grid;
  row-gap: 0.5rem;
}
.profile__basic-grid-row, .profile__account-grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile__hobbysport h3 {
  color: #25b8c0;
}
.profile__hobbysport ul {
  margin-top: 0.3rem;
  padding: 0;
}
@media (min-width: 768px) {
  .profile__hobbysport ul {
    text-align: start;
  }
}
.profile__hobbysport--edit ul li {
  list-style: none;
}
.profile__hobbysport--tag {
  display: inline-block;
  border: 1px solid #929292;
  border-radius: 4px;
  color: #929292;
  padding: 0.2rem 0.4rem;
  margin: 0.3rem;
  list-style: none;
}
.profile__icon--edit {
  color: #25b8c0;
}

.bookfinder {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0 auto;
}
.bookfinder__books-results {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .bookfinder__books-results {
    width: 585px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .bookfinder__books-results {
    width: 380px;
  }
}
@media (min-width: 768px) {
  .bookfinder {
    width: 650px;
  }
}
.bookfinder__btn {
  margin: 2rem auto 0 auto;
  display: block;
  width: 125px;
}
.bookfinder__back {
  display: block;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.form-wrapper {
  width: 75%;
  margin: 2rem auto;
}
@media (min-width: 768px) {
  .form-wrapper {
    width: 300px;
  }
}

/*# sourceMappingURL=override.css.map */
