.hero {
  margin-top: 2rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  height: auto;
  background-image: url("/media/waves.svg");
  background-position: center;
  background-size: cover;
  background-color: #52c5fb;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  grid-template-rows: 1fr 1fr 1fr;
}
.hero h1 {
  color: white;
  text-align: center;
  grid-column: 2;
  grid-row: 1;
}
.hero__icon {
  color: white;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
}
.hero__btn {
  margin-top: 3rem;
  margin-bottom: 2rem;
  grid-row: 3;
  grid-column: 2;
  align-self: center;
  justify-self: center;
  width: 100px;
  background-color: #ff8d1a;
}

.site-header {
  height: auto;
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  background-color: #7d51a1;
  width: 100%;
  z-index: 3;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  justify-items: center;
  align-items: center;
}
.site-header h1 {
  padding-top: 25px;
  text-align: center;
  font-size: 3rem;
}
.site-header h2 {
  position: relative;
  top: 310px;
  text-align: center;
}
.site-header__logo {
  grid-column: 2;
}
.site-header__logo--img {
  height: 55px;
}
.site-header__menu-icon {
  width: 20px;
  height: 19px;
  z-index: 3;
  grid-column: 1;
  display: grid;
  align-items: center;
}
.site-header__menu-icon::before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: white;
  transform-origin: 0 0;
  transition: transform 0.3s ease-out;
}
.site-header__menu-icon__middle {
  width: 20px;
  height: 3px;
  background-color: white;
  transition: opacity 0.3s ease-out;
}
.site-header__menu-icon::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: white;
  transform-origin: 0 100%;
  transition: transform 0.3s ease-out;
}
.site-header__menu-icon--close-x::before {
  transform: rotate(45deg) scaleX(1);
}
.site-header__menu-icon--close-x .site-header__menu-icon__middle {
  opacity: 0;
}
.site-header__menu-icon--close-x::after {
  transform: rotate(-45deg) scaleX(1) translateY(1.1px) translateX(-0.5px);
}
.site-header__overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #7d51a1;
  overflow-y: hidden;
  transition: 0.5s;
  display: none;
  background-image: url("/media/waves.svg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.site-header__overlay--is-visible {
  display: block;
}
.site-header__overlay-content {
  position: relative;
  /* top: 25%; */
  width: 100%;
  text-align: center;
  /* margin-top: 30px; */
}
.site-header__overlay a {
  padding: 8px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  transition: 0.3s;
}
.site-header__overlay a:hover, .site-header .overlay a:focus {
  color: #fec944;
}

.primary-nav-desktop {
  display: none;
  grid-column: 1;
}

.primary-nav ul {
  padding: 2rem 0;
}
.primary-nav ul li {
  list-style: none;
}
.primary-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2rem;
}

.sort-bar-books {
  margin-top: 7rem;
}
.sort-bar-books form {
  width: 90%;
  margin: 0 auto;
}
.sort-bar-books__age {
  align-self: center;
  justify-self: center;
}
.sort-bar-books__gender {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.sort-bar-books__gender--item {
  width: 90%;
  justify-self: center;
  background-color: #e166c4;
  color: white;
}

.sort-data-hidden {
  display: none;
}

.sort-visible {
  display: initial;
}

.sort-invisible {
  display: none;
}

.book-card {
  max-height: 480px;
  width: 308px;
  margin: 0 auto;
  position: relative;
}
.book-card__hs {
  margin-right: 1.5rem;
  flex: 0 0 auto;
}
.book-card__image {
  opacity: 1;
  display: block;
  height: 450px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  object-fit: cover;
}
.book-card__reveal {
  height: 450px;
  width: 308px;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 8px;
  border: solid 2px rgba(0, 0, 0, 0.16);
  box-shadow: 0 10px 1rem rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
}
.book-card__reveal--row1 {
  grid-row: 1;
}
.book-card__reveal--row2 {
  grid-row: 2;
}
.book-card__reveal--row3 {
  grid-row: 3;
}
.book-card__reveal--row4 {
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  column-gap: 0.5rem;
}
.book-card__reveal--row5 {
  grid-row: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.book-card__reveal--row6 {
  grid-row: 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.book-card__reveal--row6-item1 {
  color: #e166c4;
}
.book-card__reveal--row6-item2 {
  color: #00d4f7;
}
.book-card__reveal--row7 {
  grid-row: 7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.book-card__reveal--row8 {
  grid-row: 8/10;
}
.book-card__reveal--row9 {
  grid-row: 9;
}
.book-card__reveal a:hover {
  color: #ff8d1a;
  background-color: #FFF;
  border: solid 1px #ff8d1a;
}

.book-card:hover .book-card__image {
  opacity: 0.08;
}

.book-card:hover .book-card__reveal {
  opacity: 1;
}

.text {
  background-color: #ff8d1a;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  width: 65%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  display: block;
}

.search {
  display: grid;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;
  width: 90%;
  margin: 0 auto;
  background-image: url("/media/waves.svg");
}
.search p.search__text {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  padding: 0 1rem;
}
.search__box {
  display: grid;
  grid-template-columns: 90% 10%;
  width: 90%;
  margin: 0 auto;
}
.search__box--input {
  border: none;
  border-radius: 4px;
  height: 2rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.search__icon {
  color: white;
}
.search__btn {
  background-color: #ff8d1a;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  width: 100px;
  justify-self: center;
  line-height: 2rem;
}

html, body {
  width: 100%;
}

.btnize {
  background-color: inherit;
  border: none;
}

.btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  height: 3rem;
  background-color: #ff8d1a;
}

.tag {
  color: #70AD47;
  background-color: white;
  border: solid 1px #70AD47;
  border-radius: 4px;
}
.tag:hover {
  color: white;
  background-color: #70AD47;
  border: solid 1px white;
}

.text-divider {
  font-size: 1.3rem;
  font-weight: 600;
  color: #e166c4;
  text-transform: uppercase;
  margin: 1rem auto;
}

.strip-margin {
  margin: 0;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper__card {
  display: inline-block;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.scrolling-wrapper .card {
  display: inline-block;
}

.scrolling-wrapper-flexbox {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
  margin-right: 0.5rem;
}

.card {
  border: 2px solid red;
  width: 150px;
  height: 225px;
  background: black;
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 480px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar, .scrolling-wrapper-flexbox::-webkit-scrollbar {
  display: none;
}

/*# sourceMappingURL=override.css.map */
