.test-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    grid-gap: 2rem;

    .key {
        grid-column: 1;
        justify-self: end;
    }

    .value {
        grid-column: 2;
    }
}

.book-details {

    h4 {

        color: $mainPurple;
    }
    
    margin-top: 5rem;
    padding: 0 1rem;

    &__image-container {

        margin: 0 0 1rem 0;
        position: relative;

    }

    &__pills {

        display: flex;
        // flex-wrap: wrap;
        padding-left: 0;
        margin: 1.5rem 0;
        list-style: none;
        // justify-content: space-evenly;

        a {
            color: $mainPurple;
            background-color: white;
            padding: 0.5rem 1rem;
            border: 1px solid $mainPurple;
            border-radius: 4px;
            margin: 0 0.5rem;
            white-space: nowrap;
            text-transform: uppercase;
            text-decoration: none;
            
        }

        a.active {

            color: white;
            background-color: $mainPurple;
            border: none;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        }

    }

    &__section {

        &__category, &__tags {

            margin-bottom: 1rem;
        }

        &__category {

            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 0.5rem;
        }

        &__tags {

            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 0.5rem;

            &--col {

                form {

                    display: inline-block;
                }
            }
            
        }

    }

    &__quick-facts {

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__favorites {

        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }

    &__icon--not-fav {
        color: #ddd;
    }

    &__icon--fav {
        color: $mainYellow;
    }

}

.img-fluid {

    height: 400px;
    object-fit: scale-down;
}

h2.book-details__title {
    
    padding: 1rem 0;
    text-align: center;
    align-self: center;

}

// #onYourList button .book-details__icon--fav {
//     color: $mainYellow;
// }

// .book-details__icon--not-fav {
//     color: #ddd;
// }