.book-details {

    h4 {

        color: $mainPurple;
    }
    
    margin-top: 5rem;
    padding: 0 1rem;

    // &__title-bar {

    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
        
    //     &-icon {

    //         font-size: 1.2rem;
    //         align-self: center;
    //         justify-self: center;

    //     }
    // }

    &__image-container {

        margin: 0 0 1rem 0;
        position: relative;

    }

    &__pills {

        display: flex;
        // flex-wrap: wrap;
        padding-left: 0;
        margin: 1.5rem 0;
        list-style: none;
        // justify-content: space-evenly;

        a {
            color: $mainPurple;
            background-color: white;
            padding: 0.5rem 1rem;
            border: 1px solid $mainPurple;
            border-radius: 4px;
            margin: 0 0.5rem;
            white-space: nowrap;
            text-transform: uppercase;
            text-decoration: none;
            
        }

        a.active {

            color: white;
            background-color: $mainPurple;
            border: none;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        }
    }

    &__section {

        &__category, &__tags {

            margin-bottom: 1rem;
        }

    }

    &__quick-facts {

        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

.img-fluid {

    height: 400px;
    object-fit: scale-down;
}

h2.book-details__title {
    
    padding: 1rem 0;
    text-align: center;
    align-self: center;

}