.books-search {

    

    &__row {
        
        display: grid;
        grid-template-columns: 35% 68%;
        margin-bottom: 1rem;

        &--btn {

            width: 115px;
            justify-self: center;
            align-self: center;
        }

        &--results-counter {

            justify-self: center;
            align-self: center;
        }

    }

    &__collapse {

        width: 90%;
        margin: 0 auto;

    }

}

.quickfix {
    margin-top: 5rem;
    

}