.books {

    display: grid;
    grid-template-columns: 1fr;

    @include tablet {

        width: 80%;
        margin: 0 auto;
    }

    @include laptop {
        
        grid-template-columns: 30% 1fr;
        column-gap: 2rem;

    }

    @include l_laptop {

        grid-template-columns: 35% 1fr;

    }

}

.books-search {

    @include laptop {

        grid-row: 2;
        grid-column: 1;
    }

    &__row {
        
        display: grid;
        grid-template-columns: 35% 65%;
        margin-bottom: 2rem;

        @include tablet {

            grid-template-columns: 45% 55%;
        }

        @include laptop {

            grid-template-columns: 35% 65%;
            grid-column: 1 / 3;
            justify-self: center;
            display: initial;
            
        }

        .hide {

            display: none;
            
        }
        
        &--btn {

            width: 115px;
            justify-self: center;
            align-self: center;

            @include laptop {

                display: none;
            }
        }

        &--results-counter {

            justify-self: center;
            align-self: center;

            @include tablet {

                justify-self: start;
                margin-left: -1.5rem;
            }

            @include laptop {

                padding-top: 1rem;
                margin-left: 0;
            }

            
        }

    }

    &__collapse {

        width: 90%;
        margin: 0 auto;

        &__footer {

            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 2rem;

            &--left {

                grid-column: 1;
                justify-self: start;
            }

            &--right {

                grid-column: 2;
                justify-self: end;
                align-self: flex-end;
            }

        }

        @include laptop {

            display: none;
        }

    }

    &__side-bar {

        display: none;

        @include laptop {

            width: 50%;
            display: initial;
            
        }

    }

}

.books-results {

    @include laptop {

        width: 380px;
        margin: 0 auto;
        grid-row: 2;
        grid-column: 2;
    }
}