.book-result {

    max-height: 400px;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 2rem;

    @include tablet {

        width: 75%;

    }

    @include laptop {

        width: 95%;

    }

    &__image-area {

        position: relative;

        &--img {

            max-height: 280px;
            width: 115px;
        }

        &--fav {
            position: absolute;
            right: -25;
            top: -15;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #fff;
            display: grid;

            @include tablet {

                right: -1;

            }

            @include laptop {

                right: -25;

            }

            &--icon {

                color: #ddd;
                justify-self: center;
                align-self: center;

                &--yellow {
                    color: $mainYellow;
                }

            }
        }
    }
    
    
    &__content-area {

        display: grid;
        grid-template-rows: 1.3rem auto 1fr auto auto auto;

        &--row1 {
            //Author
            grid-row: 1;
        }

        &--row2 {
            //Title
            grid-row: 2;
            font-weight: 600;
        }

        &--row3 {
            //Rating
            grid-row: 3;
        }

        &--row4 {
            //Recommended age
            align-self: center;
            padding: 0.3rem 0;
        }

        &--row5 {
            //Most liked by
            padding: 0.3rem 0;
        }

        &--row6 {
            //Category
            justify-self: start;
            font-size: 75%;

        }

        &--row7 {
            //Tags
            justify-self: start;
            font-size: 75%;
            
            &--tag {

                margin: 0.3rem 0.3rem 0.3rem 0;

                form {
                    display: inline-block;
                }
            }

        }

        &--row8 {
            grid-row: 8 / 10;
        }

        &--row9 {
            grid-row: 9;
        }

        a:hover {
            color:  $mainOrange;
            background-color: #FFF;
            border: solid 1px  $mainOrange;
        }
    }
    

}

