<footer class="site-footer">

    <div class="site-footer__social">

        <ul>

            <li>Follow:</li>
            <li><a href="https://www.facebook.com/Reviewsfromkids-101506481693574" target="blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" target="blank"><i class="fab fa-twitter-square"></i></a></li>

        </ul>

    </div>

    <nav class="site-footer__nav">

        <ul>

            <li><a href="https://www.freeprivacypolicy.com/" target="blank">Privacy Policy</a></li>
            <li><a href="#" target="blank">Cookie Policy</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>

        </ul>

    </nav>

    <div class="site-footer__copyright">2020 Copyright reviewsfromkids.com</div>

</footer>