{% block hero %}
  <div class="large-hero large-hero-main-hero">
    <h5>Looking for a nice book?</h5>
    <p>Help each other and find the right read</p>
    <i class="fas fa-thumbs-up fa-5x large-hero__icon"></i>
    <a class="btn hero" href="#top-5">find your book</a>
  </div>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper--explainer">
        <section class="explainer">
        <h2 class="section-title">What's your favorite?</h2>
        <p>Why is there no place for kids to let the world know what they (don't) like? Let's solve this now!</p>
        <p>Submit your top-5 books.</p>
        <p>From all top-5 books combined, a total top-10 or 20 is shared here!</p>
        <a class="btn hero" href="">I want to help!</a>
        </section>s
    </div>
    
{% endblock %}