<div class="site-header__overlay">
    <div class="site-header__overlay-content">
      <a class="site-header__logo" href="{% url 'home' %}">
        <img class="site-header__logo--img" src="/media/logo.jpg" alt="logo voorkidsdoorkids">
    </a>
      <nav class="primary-nav">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="">Shop</a></li>
          <li><a href="">Log in</a></li>
          <li><a href="">Register</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">About</a></li>
        </ul>
        
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="{% url 'account_logout' %}">Not sure where to lead to</a>
            {% endif %}
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
        
      </nav>
      <div class="search">
        <p class="search__text">Search yourself</p>
        <form class="strip-margin" method="GET" action="{% url 'books' %}">
          <div class="search__box">
            <input class="search__box--input" type="text" name="q" placeholder="    search title, author, theme, tag">
            <button class="btnize search__icon" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
        <div class="text-divider">or</div>
        <p class="search__text">Let other kids help you find the perfect books!</p>
        <a class="btn search__btn" href="">start</a>
      </div>
      
    </div>
</div>