<div class="sort-bar-books">
    
    <div class="sort-bar-books__age">
        <div class="dropup">
            <button class=" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">age
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'books' %}?age=14">14 and up</a>
              <a class="dropdown-item" href="{% url 'books' %}?age=12,13">12 to 14</a>
              <a class="dropdown-item" href="{% url 'books' %}?age=8,9">8 to 10</a>
              <a class="dropdown-item" href="{% url 'books' %}?age=10,11">10 to 12</a>
              <a class="dropdown-item" href="{% url 'books' %}?age=6,7">6 to 8</a>
              <a class="dropdown-item" href="{% url 'books' %}?age=5">under 6</a>
            </div>
          </div>
        </div>

    <div class="sort-bar-books__gender">
        <a class="sort-bar__gender--item btn-primary" href="{% url 'books' %}?gender=all">All</a>
        <a class="sort-bar__gender--item" href="{% url 'books' %}?gender=boys">Boys</a>
        <a class="sort-bar__gender--item" href="{% url 'books' %}?gender=girls">Girls</a>
    </div>

</div>


<form method="GET" action="{% url 'books' %}">
  <div class="search__box">
    <input type="text" name="q" value="girls">
    <button class="primary-btn" type="submit">
      Girls
    </button>
  </div>
</form>

<form method="GET" action="{% url 'books' %}">
  <div class="search__box">
    <input type="text" name="q" value="8">
    <button class="primary-btn" type="submit">
      8
    </button>
  </div>
</form>