{% if book.rating == 0 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 1 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 1.5 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>
        <i class="fas fa-star-half hard-coded-stars__star--half"></i>
    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 2 %}
    
    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 2.5 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>
        <i class="fas fa-star-half hard-coded-stars__star--half"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 3 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 3.5 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>
        <i class="fas fa-star-half hard-coded-stars__star--half"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 4 %}
    
    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>

    </div>

{% elif book.rating == 4.5 %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--empty" aria-hidden="true"></i>
        <i class="fas fa-star-half hard-coded-stars__star--half"></i>

    </div>

{% else %}

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

    <div class="hard-coded-stars__star">

        <i class="fa fa-star hard-coded-stars__star--full" aria-hidden="true"></i>

    </div>

{% endif %}