{% extends "account/base.html" %}

{% load i18n %}


{% block hero %}
    <div class="hero__allauth">
        
        <h1 class="hero__allauth--row1">{% trans "Log out" %}</h1>
        <i class="fas fa-lock fa-5x hero__allauth--row2"></i>
        <h4 class="hero__allauth--row3">Come back anytime!</h4>
    
    </div>
{% endblock %}


{% block inner_content %}

    <h1>There is a time to go</h1>
    <p>We hope you enjoyed your visit. Make sure to check back regularly fir new books, recommendations and more!</p>
    <p>Thank you for your time!</p>
    <form method="post" action="{% url 'account_logout' %}">

        {% csrf_token %}

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}

        <button class="btn" type="submit">{% trans 'Sign Out' %}</button>

    </form>

{% endblock %}
