{% extends "account/base.html" %}

{% load i18n %}

{% block hero %}
    <div class="hero__allauth">
        
        <h1 class="hero__allauth--row1">Change password</h1>
        <i class="fas fa-envelope-open fa-5x hero__allauth--row2"></i>
        <h4 class="hero__allauth--row3">with instructions</h4>
    
    </div>
{% endblock %}

{% load crispy_forms_tags %}
{% block inner_content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
