{% extends "account/base.html" %}

{% load i18n %}

{% block hero %}
    <div class="hero__allauth">
        
        <h1 class="hero__allauth--row1">Done!</h1>
        <i class="fas fa-user-shield fa-5x hero__allauth--row2"></i>
        <h4 class="hero__allauth--row3">All set</h4>
    
    </div>
{% endblock %}

{% block inner_content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %} Make sure you keep it secure.</p>
    <p>Also, do not use one and the same password for different sites. </p>
    <p>Consider using a password manager. Read more about the best ones here: <a target="blank" href="https://www.techradar.com/uk/best/password-manager">www.techradar.com</a></p>
    <a href="{% url 'account_login' %}" class="btn">Log in</a>
{% endblock %}
