.bookfinder {

    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 auto;

    &__books-results {

        margin: 0 auto;

        @include tablet {

            width: 585px;

            @include laptop {

                width: 380px;

            }

        }

    }

    @include tablet {

        width: 650px;

    }

    &__btn {

        margin: 2rem auto 0 auto;
        display: block;
        width: 125px;

    }

    &__back {

        display: block;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 1rem;

        &--left {

            text-align: start;

        }

    }

}

.form-wrapper {
    
    width: 75%;
    margin: 2rem auto;

    @include tablet {

        width: 300px;
        
    }

}
