.profile {

    padding: 0 1rem;
    margin: 0 auto;

    @include tablet {

        width: 585px;

        .tab-content {

            width: 585px;
        }
    }
    
    &__title {

        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 0.5rem;
        align-items: center;
    }

    @include tablet {
        
        ul {
            
        margin: 1rem auto;
        text-align: center;

        }
    }

    &__pills {

        display: flex;
        padding-left: 0;
        list-style: none;
        margin-top: 1rem;

        @include tablet {

            width: 620px;
            justify-content: space-evenly;
            margin: 1.5rem auto;
        
        }

        @include l_laptop {

            width: 580px;
        }

        a {
            color: $mainTeal;
            background-color: white;
            padding: 0.5rem 1rem;
            border: 1px solid $mainTeal;
            border-radius: 4px;
            margin: 0 0.5rem;
            white-space: nowrap;
            text-transform: uppercase;
            text-decoration: none;
            
        }

        a.active {

            color: white;
            background-color: $mainTeal;
            border: none;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        }

    }

    &__basic, &__account {

        h3 {

            color: $mainTeal;
        }

        &--btn {

            width: 125px;
            margin: 2rem auto;
            display: block;
        }

        &-grid {

            display: grid;
            row-gap: 0.5rem;

            &-row {

                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    &__hobbysport {

        h3 {

            color: $mainTeal;
        }

        ul {

            margin-top: 0.3rem;
            padding: 0;

            @include tablet {

                text-align: start;

            }
           
        }

        &--edit {

            ul li {
                
                list-style: none;
            }

        }

        &--tag {

            display: inline-block;
            border: 1px solid $mainGrey;
            border-radius: 4px;;
            color: $mainGrey;
            padding: 0.2rem 0.4rem;
            margin: 0.3rem;
            list-style: none;
        }

    }

    &__icon--edit {

        color: $mainTeal;
    }
}
