{% extends "base.html" %}

{% load static %}

{% block extra_title %}
    Ooops..
{% endblock %}


{% block hero %} 
    <div class="hero__error-page">

        <h1 class="hero__error-page--row1">This site will</h1>
        <i class="fas fa-bomb fa-5x hero__error-page--row2"></i>
        <h4 class="hero__error-page--row3">self destruct in 3....2...</h4>

    </div>
{% endblock %}

{% block content %}

    <div class="generic-wrapper">

        <main>

            <div class="error-page">

                <h1>Bad request</h1>
                <p>Wow, that is uncommon. You broke the internet!</p>
                <p>Just kidding. Something went wrong at our place, so nothing you can help.</p> 
                <p>You can try the following:</p>
                
                <div class="error-page__choices">

                    <ul>

                        <li>Hit your back button and try again.</li>
                        <li>Go <a href="{% url 'home' %}">home</a>.</li>
                        <li>Go to the books overview <a href="{% url 'books' %}">page</a></li>

                    </ul>

                </div>
            
            </div>

        </main>
        
    </div>

{% endblock %}