{% extends "base.html" %}

{% load static %}

{% block extra_title %}
    Ooops..
{% endblock %}

{% block hero %} 
    <div class="hero__error-page">

        <h1 class="hero__error-page--row1">Not for you</h1>
        <i class="fas fa-eye-slash fa-5x hero__error-page--row2"></i>
        <h4 class="hero__error-page--row3">yet...</h4>

    </div>
{% endblock %}

{% block content %}

    <div class="generic-wrapper">

        <main>

            <div class="error-page">

                <h1>Forbidden</h1>
                <p>For some things you need to log in first. And some things are simply not for you and only for the site admin.</p>
                <p>Try the following:</p>
                
                <div class="error-page__choices">

                    <ul>

                        <li>Hit your back button and try again.</li>
                        <li>Log in <a href="{% url 'account_login' %}">here</a></li>
                        <li>Go <a href="{% url 'home' %}">home</a>.</li>
                        <li>Go to the books overview <a href="{% url 'books' %}">page</a></li>

                    </ul>

                </div>
            
            </div>

        </main>
        
    </div>

{% endblock %}