<!-- 2.2 -->
{% load static %}
<script type="module" src="{% static 'scripts/App.js' %}"></script>

<!doctype html>
<html lang="en">
  <head>
    <!-- 2.3 -->
    {% block meta %}
      <!-- 2.1 -->
      <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <!-- 2.3 -->
    {% block extra_meta %}
    {% endblock %}

    <!-- 2.3 -->
    {% block corecss %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <!-- 4.1 & 4.2 -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"> 
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <link rel="stylesheet" href="{% static 'css/override.css' %}">
    {% endblock %}

    <!-- 2.3 -->
    {% block extra_css %}
    {% endblock %}

    <!-- 2.3 -->
    {% block corejs %}
      <!-- 4.3 -->
      <script src="https://kit.fontawesome.com/aca8a0f519.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://platform-api.sharethis.com/js/sharethis.js#property=5e86e668b4e52f001290ee85&product=inline-share-buttons" async="async"></script>
      <script src="https://js.stripe.com/v3/"></script>

    {% endblock %}


    <!-- 2.3 -->
    {% block extra_js %}
    {% endblock %}

    <!-- 2.4 -->
    <title>Reviews from kids for kids | {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    <header class="site-header toggle">
        
        {% include 'includes/main-nav.html' %}
        {% include 'includes/overlay-nav.html' %}
        
        <div class="site-header__menu-icon">
            <div class="site-header__menu-icon__middle"></div>
        </div>
             
        <a class="site-header__logo" href="{% url 'home' %}">
            <img class="site-header__logo--img" src="{{ MEDIA_URL }}logo.jpg" alt="logo voorkidsdoorkids">
        </a>

        <!-- <div class="site-header__search">
          <i class="fas fa-search site-header__search--icon"></i>
        </div> -->

    </header>

    {% if messages %}
        <div class="message-container">
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block hero %}
    {% endblock %}
    <div class="temp-wrapper">
      {% block content %}
      {% endblock %}
    </div>
  

    {% block postloadjs %}
    {% endblock %}
    <script>
      var prevScrollpos = window.pageYOffset;
      window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
          showHeader();
        } else {
          
          hideHeader();
        }
        prevScrollpos = currentScrollPos;
      }

      function hideHeader() {
          $(".toggle").removeClass("is-visible").addClass("is-hidden");
        }

        function showHeader() {
          $(".toggle").removeClass("is-hidden").addClass("is-visible").addClass("scrolling");
        }
    </script>    
  </body>
</html>