{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    {{ book.title }}
{% endblock %}

{% block extra_js %}
    <script src='https://platform-api.sharethis.com/js/sharethis.js#property=5e86e668b4e52f001290ee85&product=inline-share-buttons' async='async'></script>
{% endblock %}

{% block content %}
    <main>

        <div class="generic-wrapper generic-wrapper--no-hero">

            <div class="book-details">
                    
                <h2 class="book-details__title">{{ book.title }}</h2>      
                
                <div class="book-details__image-container">
                    <img class="card-img-top img-fluid" src="{{ book.image_detail.url }}" alt="{{ book.name }}">
                </div>

                <ul class="nav book-details__pills scrolling-wrapper-flexbox">
                
                    <li><a class="active" data-toggle="pill" href="#menu1">For you?</a></li>
                    <li><a data-toggle="pill" href="#menu2">Description</a></li>
                    <li><a data-toggle="pill" href="#menu3">Your rating</a></li>
                    <li><a data-toggle="pill" href="#menu4">Info</a></li>

                </ul>

                <div class="tab-content book-details__content">

                    <div id="menu1" class="tab-pane fade in show active">
                        
                        <div class="book-details__section">

                            <h4>Is this book for you?</h4>

                            <div class="rating-static-table rating-static-table--book-details">

                                <div class="rating-static-table__rating-1 hard-coded-stars">
                
                                    {% include 'includes/star-rating-hard-coded.html' %}
                
                                </div>
                
                                <div class="rating-static-table__rating-2">
                                                       
                                    {% if book.number_of_ratings == 1 %}

                                        <small class="text-muted">(1 rating)</small>

                                    {% else %}

                                        <small class="text-muted">({{ book.number_of_ratings }} ratings)</small>

                                    {% endif %}
                
                                </div>

                            </div>
                            
                            <!-- Show rating info, if any, in accordion format -->
                            <div class="accordion" id="accordionExample">

                                <div class="card">

                                    <div class="card-header" id="headingOne">
                                    
                                        <div class="mb-0">

                                            <h4 class="btn-block text-left" data-toggle="collapse" data-target="#kidsLike" aria-expanded="true" aria-controls="kidsLike">
                                                Kids who <span class="emphasis1">like</span> this book
                                            </h4>

                                        </div>

                                    </div>

                                    <div id="kidsLike" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        
                                        <div class="card-body kidslike">

                                            <!-- Check if there is any meta data for positive ratings -->
                                            {% if avg_age_positive_ratings == None and not hobbies_positive_ratings and not sports_positive_ratings %}

                                                <p>No information available yet.</p>

                                            {% else %}

                                                <!-- Check if statistical mode is possible for gender -->
                                                {% if most_liked_by == "not known yet" or most_liked_by == "not available" %}

                                                <!-- If not possible to calculate mode or when no positive ratings: show nothing -->

                                                {% else %}

                                                    <div class="kidslike__genderage">

                                                        <p class="kidslike__genderage--left">Most liked by:</p>
                                                        <h5 class="emphasis1 kidslike__genderage--right">{{ book.most_liked_by }}</h5>

                                                    </div>

                                                {% endif %}

                                                <!-- Check if statistical mode is possible for age -->
                                                {% if book.recommended_age == "not known yet" or book.recommended_age == "not available" %}

                                                    <!-- If not possible to calculate mode or when no positive ratings: show nothing -->
                                                
                                                    {% else %}

                                                    <div class="kidslike__genderage">

                                                        <p class="kidslike__genderage--left">Age:</p>
                                                        <h5 class="emphasis1 kidslike__genderage--right">{{ book.recommended_age }}</h5>

                                                    </div>

                                                {% endif %}
                                                
                                                <!-- If meta data hobbies available: show hobbies -->
                                                {% if hobbies_positive_ratings %}

                                                    <div class="kidslike__hobbysport">

                                                        <div class="kidslike__hobbysport--left">Hobbies:</div>

                                                        <ul class="kidslike__hobbysport--right">

                                                            {% for i in hobbies_positive_ratings %}

                                                                <li class="profile__hobbysport--tag">{{ i.name }} <small class="text-muted">({{ i.name__count }}x)</small></li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div>

                                                {% else %}

                                                    <!-- Show nothing -->

                                                {% endif %}

                                                <!-- If meta data sports available: show sports -->
                                                {% if sports_positive_ratings %}

                                                    <div class="kidslike__hobbysport">

                                                        <div class="kidslike__hobbysport--left">Sports:</div>
                                                        
                                                        <ul class="kidslike__hobbysport--right">

                                                            {% for i in sports_positive_ratings %}

                                                                <li class="profile__hobbysport--tag">{{ i.name }} <small class="text-muted">({{ i.name__count }}x)</small></li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div>

                                                {% else %}

                                                <!-- Show nothing -->

                                                {% endif %}

                                            {% endif %}
                                        </div> 
                                    
                                    </div>

                                    <div class="card-header" id="headingTwo">

                                        <div class="mb-0">

                                            <h4 class="btn-block text-left" data-toggle="collapse" data-target="#kidsDislike" aria-expanded="true" aria-controls="kidsDislike">
                                                Kids who <span class="emphasis1">don't like</span> this book
                                            </h4>

                                        </div>

                                    </div>

                                    <div id="kidsDislike" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

                                        <div class="card-body kidsdislike">

                                            <!-- Check if there is any meta data for positive ratings -->  
                                            {% if avg_age_negative_ratings == None and not hobbies_negative_ratings and not sports_negative_ratings %}

                                                <p>No negative opinions! This must be a good book :)</p>

                                            {% else %}

                                                <!-- Check if statistical mode is possible for gender -->
                                                {% if most_disliked_by == "not known yet"%}

                                                    <!-- If not possible to calculate mode or when no negative ratings: show nothing -->

                                                {% else %}

                                                    <div class="kidsdislike__genderage">

                                                        <p class="kidsdislike__genderage--left">Most disliked by:</p>
                                                        <h5 class="emphasis1 kidsdislike__genderage--right">{{ book.most_disliked_by }}</h5>

                                                    </div>

                                                {% endif %}

                                                <!-- Check if statistical mode is possible for age -->
                                                {% if book.not_recommended_by_age == "not known yet" or book.not_recommended_by_age == "not available" %}

                                                    <!-- If not possible to calculate mode or when no negative ratings: show nothing -->

                                                {% else %}

                                                    <div class="kidsdislike__genderage">

                                                        <p class="kidsdislike__genderage--left">Age:</p>
                                                        <h5 class="emphasis1 kidsdislike__genderage--right">{{ book.not_recommended_by_age }}</h5>

                                                    </div>

                                                {% endif %}

                                                <!-- If meta data hobbies available: show hobbies -->
                                                {% if hobbies_negative_ratings %}

                                                    <div class="kidsdislike__hobbysport">

                                                        <div class="kidsdislike__hobbysport--left">Hobbies:</div>
                                                        
                                                        <ul class="kidsdislike__hobbysport--right">

                                                            {% for i in hobbies_negative_ratings %}

                                                                <li class="profile__hobbysport--tag">{{ i.name }} <small class="text-muted">({{ i.name__count }}x)</small></li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div>

                                                {% else %}

                                                    <!-- Show nothing -->

                                                {% endif %}
                                                
                                                <!-- If meta data sports available: show hobbies -->
                                                {% if sports_negative_ratings %}

                                                    <div class="kidsdislike__hobbysport">

                                                        <div class="kidsdislike__hobbysport--left">Sports:</div>

                                                        <ul class="kidsdislike__hobbysport--right">

                                                            {% for i in sports_negative_ratings %}

                                                                <li class="profile__hobbysport--tag">{{ i.name }} <small class="text-muted">({{ i.name__count }}x)</small></li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div>

                                                {% else %}

                                                    <!-- Show nothing -->

                                                {% endif %}

                                            {% endif %}
                                            
                                        </div> 
                                    
                                    </div>

                                    <div class="card-header" id="headingThree">

                                        <div class="mb-0">

                                            <h4 class="btn-block text-left" data-toggle="collapse" data-target="#onYourList" aria-expanded="true" aria-controls="onYourList">

                                                {% if favorite %}

                                                    This book is on <span class="emphasis1">your</span> list

                                                {% else %}

                                                    Do <span class="emphasis1">you</span> want to read this book?

                                                {% endif %}

                                            </h4>

                                        </div>

                                    </div>

                                    <div id="onYourList" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                                        <div class="card-body book-details__favorites">

                                            <!-- Check if already on list-->
                                            {% if favorite %}
                                                
                                                <form method="POST">

                                                    {% csrf_token %}
                                                    <input type="hidden" value="remove_fav" name="type_of_action">
                                                    <button class="iconify" value="submit"><i class="book-details__icon--fav fas fa-heart fa-3x" aria-hidden="true"></i></button>

                                                </form>

                                                <p>You have this book on your 'want to read list'</p>

                                            {% else %}

                                                {% if user_logged_in %}

                                                    <!-- Add to list-->
                                                    <form method="POST">

                                                        {% csrf_token %}
                                                        <input type="hidden" value="add_fav" name="type_of_action">
                                                        <button class="iconify" value="submit"><i class="book-details__icon--not-fav fas fa-heart fa-3x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i></button>
                                                    
                                                    </form>

                                                    <p>Do you want to read this book (someday)? Add it to your list!</p>

                                                {% else %}

                                                    <i class="book-details__icon--not-fav fas fa-heart fa-3x" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                                                    <p>Please <a href="{% url 'account_login' %}">log in</a> to add to your list.</p>

                                                {% endif %}

                                            {% endif %}

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                    <div id="menu2" class="tab-pane fade">

                        <div class="book-details__section">

                            <h4>This book is about</h4>
                            
                            <p class="book-details__section__description">
                                {{ book.description }}
                            </p>                
                            
                            <div class="book-details__section__category">

                                <p>Category:</p>

                                <div class="book-details__section__category--col">

                                    <form class="book-details__section__category--col--item" method="GET" action="{% url 'books' %}">

                                        <input type="hidden" value="cat-search" name="type_of_action"/>
                                        <input type="hidden" value="{{ book.category.id }}" name="category"/>
                                        <button class="tag tag--category tag--category--link">{{ book.category }}</button>

                                    </form>

                                </div>

                            </div>

                            <div class="book-details__section__tags">

                                <p>Tags:</p>
                                
                                <div class="book-details__section__tags--col">

                                    {% for tag in book.tags.all %}

                                        <form class="book-details__section__tags--col--item" method="GET" action="{% url 'books' %}">

                                            <input type="hidden" value="tag-search" name="type_of_action"/>
                                            <input type="hidden" value="{{ tag }}" name="tags"/>
                                            <button class="tag tag--tag tag--tag--link">{{ tag }}</button>

                                        </form>

                                    {% endfor %}

                                </div>

                            </div>
                            
                        </div>  
                    
                    </div>
                    
                    <div id="menu3" class="tab-pane fade">

                        <div class="book-details__section book-details__section__rating">

                            <h4>Your rating</h4>

                            {% if user_logged_in and profile.allowed_to_rate %}

                                <!-- User can rate book -->
                                {% if not already_rated %}

                                <p>Did you read this book? Great! Or not great... that depends. Did you like to read it? Please help others and tell them what you think.</p>

                                    <form method="POST" action="{% url 'book_detail' book.id %}">
                                        {% csrf_token %}

                                        <div class="book-details__section__rating--stars">

                                            <fieldset class="rating">
                                                
                                                <input type="radio" id="star5" name="ratingOptions" value="5" /><label class="full" for="star5"></label>
                                                <input type="radio" id="star4" name="ratingOptions" value="4" /><label class="full" for="star4"></label>
                                                <input type="radio" id="star3" name="ratingOptions" value="3" /><label class="full" for="star3"></label>
                                                <input type="radio" id="star2" name="ratingOptions" value="2" /><label class="full" for="star2"></label>
                                                <input type="radio" id="star1" name="ratingOptions" value="1" /><label class="full" for="star1"></label>

                                            </fieldset>

                                            <input type="hidden" value="new" name="type_of_action">
                                            <input class="text" name="rated_by" value="{{ request.user }}" hidden>
                                            <input class="text" name="book_id" value="{{ book.pk }}" hidden>

                                        </div>
                                        
                                        <button class="btn book-details__rating--btn" type="submit">rate</button>
                                        
                                    </form>

                                {% else %}

                                    <!-- User can update or delete rating -->
                                    <h5>You rated this book with:</h5>
                                    <br>

                                    <form class="book-details__rating" method="POST" action="{% url 'book_detail' book.id %}">
                                        {% csrf_token %}
                                        
                                        <div class="book-details__section__rating--stars">

                                            <fieldset class="rating">

                                                <input type="radio" id="star5" name="ratingOptions" value="5" {% if current_user_rating.rating == 5 %}checked{% endif %}/><label class="full" for="star5"></label>
                                                <input type="radio" id="star4" name="ratingOptions" value="4" {% if current_user_rating.rating == 4 %}checked{% endif %}/><label class="full" for="star4"></label>
                                                <input type="radio" id="star3" name="ratingOptions" value="3" {% if current_user_rating.rating == 3 %}checked{% endif %}/><label class="full" for="star3"></label>
                                                <input type="radio" id="star2" name="ratingOptions" value="2" {% if current_user_rating.rating == 2 %}checked{% endif %}/><label class="full" for="star2"></label>
                                                <input type="radio" id="star1" name="ratingOptions" value="1" {% if current_user_rating.rating == 1 %}checked{% endif %}/><label class="full" for="star1"></label>

                                            </fieldset>

                                            <input type="hidden" value="edit" name="type_of_action">
                                            <input class="text" name="rated_by" value="{{ request.user }}" hidden>
                                            <input class="text" name="book_id" value="{{ book.pk }}" hidden>

                                        </div>
                                        
                                        <button class="btn book-details__section__rating--btn-1" type="submit">update</button>

                                    </form>

                                    <form method="POST" class="book-details__section__rating--delete" action="{% url 'book_detail' book.id %}">
                                        {% csrf_token %}

                                        <input type="hidden" value="delete" name="type_of_action">   

                                        <button class="btn-link btn-link--red book-details__section__rating--btn" type="submit">delete rating</button>

                                    </form> 

                                {% endif %}
                                <br>
                                <p>Let the world know what you think!</p>

                                <!-- AddToAny BEGIN -->
                                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">

                                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                                        <a class="a2a_button_twitter"></a>
                                        <a class="a2a_button_email"></a>
                                        <a class="a2a_button_whatsapp"></a>
                                        <a class="a2a_button_pinterest"></a>
                                        <a class="a2a_button_facebook"></a>

                                    </div>

                                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                                <!-- AddToAny END -->

                            {% elif user_logged_in and not userprofile.allowed_to_rate %}

                                <p>Did you read this book? Great! Or not great... that depends. Did you like to read it? Please help others and tell them what you think.</p>

                                <p>We love your rating. To make your rating even better, we'd like to know a bit more about you. So, other kids can see if your rating is helpful for them.</p>
                                <p>Please complete your profile <a href="{% url 'profile' %}">here</a>.</p>

                            {% else %}

                                <p>Did you read this book? Great! Or not great... that depends. Did you like to read it? Please help others and tell them what you think.</p>

                                <p>We love your rating. Please <a href="{% url 'account_login' %}">log in</a>.</p>
                                <p>No account? You can get one -completely free- over <a href="{% url 'account_signup' %}">here</a>!</p>

                            {% endif %}

                        </div>
                    
                    </div>
                    
                    <div id="menu4" class="tab-pane fade">

                        <div class="book-details__section book-details__section__info">

                            <h4>Book info</h4>
                            <p class="mt-3">Author: {{ book.author }}</p>
                            <p class="mt-3">ISBN: {{ book.isbn }}</p>
                            <p class="mt-3">Pages: {{ book.pages }}</p>
                            <p class="mt-3">Age on book: {{ book.age_on_book }}</p>

                        </div>

                    </div>

                </div>
                
            </div>

        </div>

    </main>
    
{% endblock %}