{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block hero %} 
{% endblock %}

{% block content %}
  <main>
    <div class="book-details">
      <h2 class="book-details__title">{{ book.title }}</h2>      
      <div class="book-details__image-container">
        <img class="card-img-top img-fluid" src="{{ book.image.url }}" alt="{{ book.name }}">
      </div>

      <ul class="nav book-details__pills scrolling-wrapper-flexbox">
        <!-- <div class="scrolling-wrapper-flexbox"> -->
            <li><a class="active" data-toggle="pill" href="#menu1">Description</a></li>
            <li><a data-toggle="pill" href="#menu4">For you?</a></li>
            <li><a data-toggle="pill" href="#menu2">Quick facts</a></li>
            <li><a data-toggle="pill" href="#menu3">Ratings</a></li>
            <li><a data-toggle="pill" href="#menu10">Info</a></li>
        <!-- </div> -->
      </ul>

      <div class="container">
        <div class="tab-content">
            <div id="menu1" class="tab-pane fade in show active">
              <div class="book-details__section">
                <h4>This book is about</h4>
                <p>
                  {{ book.description }}
                </p>                
                <div class="book-details__section__category">
                Category: <span class="badge badge-primary">{{ book.category }}</span>
                </div>
                <div class="book-details__section__tags">
                Tags:  {% for tag in book.tags.all %}
                    <span class="badge badge-info">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>  
            </div>
            <div id="menu4" class="tab-pane fade">
              <div class="book-details__section">
                {% if favorite %}
                  <h4>This book is in your favorites. You like it!</h4>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="remove_fav" name="type_of_action">
                    <button class="iconify" value="submit"><i class="book-details__title-bar-icon fa fa-heart" aria-hidden="true"></i></button>
                  </form>
                  {% if not already_rated %}
                    Would you like to rate this book too? You can do that <a href="">here</a>.
                  {% endif %}
                {% else %}  
                  <h4>Is this book for you?</h4>
                  <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="add_fav" name="type_of_action">
                    <button class="iconify" value="submit"><i class="book-details__title-bar-icon far fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i></button>
                  </form>
                {% endif %}
                
                <ul>
                  <li>Non logged in user: CTA to create account.</li>
                  <li>Logged in user without completed profile: CTA to complete profile.</li>                  
                  <li>Logged in user with complete profile: show all.</li>
                </ul>
                Show favorites, want to read, your rating
        
                <div class="book-details__title-bar">
            
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="book-details__quick-facts">
                <div class="book-details__quick-facts__age">
                  <small>Recommended age:</small> <br>{{ book.age }} yrs
                </div>
                <div class="book-details__quick-facts__ratings">
                  Rating all: <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ avg_rating }} / 5 ({{ number_of_ratings }})</small>
                  Rating girls: <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ girls_avg_rating }} / 5 ({{ girls_number_of_ratings }})</small>
                  Rating boys: <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ boys_avg_rating }} / 5 ({{ boys_number_of_ratings }})</small>
                </div>
              </div>
            </div>
            <div id="menu3" class="tab-pane fade">
              <div class="book-details__section">
                <h4>Reviews & Ratings</h4>
                Rate this book
                {% if user_logged_in %}
                  {% if not already_rated %}
                  <form method="POST" action="{% url 'book_detail' book.id %}">
                    {% csrf_token %}
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="ratingOptions" id="inlineRadio1" value="1">
                      <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="ratingOptions" id="inlineRadio2" value="2">
                      <label class="form-check-label" for="inlineRadio2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="ratingOptions" id="inlineRadio3" value="3">
                      <label class="form-check-label" for="inlineRadio3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="ratingOptions" id="inlineRadio4" value="4">
                      <label class="form-check-label" for="inlineRadio4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="ratingOptions" id="inlineRadio5" value="5">
                      <label class="form-check-label" for="inlineRadio5">5</label>
                    </div>
                    <input class="text" name="rated_by" value="{{ request.user }}" hidden>
                    <input class="text" name="book_id" value="{{ book.pk }}" hidden>
                  </form>
                  {% else %}
                  You have already rated!
                  {% endif %}
                {% else %}
                  Please log in to rate.
                {% endif %}
              </div>
            </div>
            
            <div id="menu10" class="tab-pane fade">
              <div class="book-details__section">
                <h4>Book info</h4>
                <p class="mt-3">ISBN: {{ book.isbn }}</p>
                <p class="mt-3">Pages: {{ book.pages }}</p>
                <p class="mt-3">Age from {{ book.age }}</p>
                <p class="mt-3">Best suited for {% if book.gender == "all" %} girls and boys.                  
                  {% else %}
                  {{ book.gender }} {% endif %}</p>
                <p class="mt-3">Author: {{ book.author }}</p>
              </div>
            </div>
        </div>
    </div>
      

      
      
      

      
    </div>
  </main>
{% endblock %}
{% block postloadjs %}
<script>
$(function () {
  $('input[name="ratingOptions"]').on('change',function(){
    $('form').submit();
    console.log('rating selected');
  });
});
</script>
{% endblock %}