.hero {
    margin-top: 2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    height: auto;
    background-image: url("/media/waves.svg");
    background-position: center;
    background-size: cover;
    background-color: $mainHero;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 1fr 1fr 1fr;

    h1 {
        color: white;
        text-align: center;
        grid-column: 2;
        grid-row: 1;
    }

    &__icon {
        color: white;
        grid-column: 2;
        grid-row: 2;
        align-self: center;
        justify-self: center;
        
    }

    &__btn {

        grid-row: 3;
        grid-column: 2;
        align-self: center;
        justify-self: center;
        width: 100px;
        background-color: $mainOrange;

    }
}

