.primary-nav-desktop {
    display: none;
    grid-column: 1;
}

.primary-nav {

    ul {

        padding: 2rem 0;

        li {
            list-style: none;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }

}