.refine-sort {

    margin: 6rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    padding: 0 2rem;

    &__overlay {

        margin-top: 4.2rem;
        padding: 3rem 2rem;
        height:100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $mainTeal;
        overflow-y: hidden;
        transition: 0.5s;
        display: none;
        background-image: url("/media/waves.svg");
        background-position: center;
        background-size: cover;
        color: #fff;

        &--is-visible {

            display: block;
        }

    }
}


.sort-bar-books {

    margin-top: 7rem;
    // display: grid;
    // grid-template-columns: 30% 70%;
    // width: 90%;

    form {

        width: 90%;
        margin: 0 auto;
    }


    &__age {

        align-self: center;
        justify-self: center;

    }

    &__gender {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        &--item {

            width: 90%;
            //align-self: center;
            justify-self: center;
            background-color: $mainPink;
            color: white;
        
        }
    }

}


.sort-data-hidden {

    display: none;

}

.sort-visible {

    display: initial;

}

.sort-invisible {

    display: none;

}

