.sort-bar {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 30% 70%;
    // width: 90%;

    &__age {

        align-self: center;
        justify-self: center;

    }

    &__gender {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        &--item {

            width: 90%;
            //align-self: center;
            justify-self: center;
            background-color: $mainPink;
            color: white;
        
        }
    }

}

.sort-bar-books {

    margin-top: 5rem;display: grid;
    grid-template-columns: 30% 70%;
    // width: 90%;

    &__age {

        align-self: center;
        justify-self: center;

    }

    &__gender {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
        &--item {

            width: 90%;
            //align-self: center;
            justify-self: center;
            background-color: $mainPink;
            color: white;
        
        }
    }

}

.sort-data-hidden {

    display: none;

}

.sort-visible {

    display: initial;

}

.sort-invisible {

    display: none;

}